body {
	font-family: 'Roboto', sans-serif;
	background: #00C9FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
	background-color: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: normal;
}

h2 {
	color: #666;
	font-weight: normal;
	font-size: 1rem;
	margin-bottom: 0;
}


input {
	width: 100%;
	box-sizing: border-box;
	font-size: 15px;
	background-color: #f7f7f7;
	border: none;
	padding: 13px 13px 13px 20px;
	color: #2980b9;
	display: none;
}

input:focus {
	border: 3px solid #2980b9;
	outline: pink;
	background-color: white;
}

.theme {
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: 3px solid #666;
	float: left;
	margin: 2px;
	border-radius: 15%;
}

#container {
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, .1);
	width: 360px;
	background-color: #f7f7f7;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tasktext {
    margin: auto 0;
	height: 100%;
	padding: 5px 40px 5px 30px;
	word-wrap: break-word;
	max-width: 100%;
	box-sizing: border-box;
	cursor: pointer;
}


.plus {
	float: right;
	cursor: pointer;
}


.delete {
	background-color: #e74c3c;
	color: white;
	text-align: center;
	width: 0px;
	opacity: 0;
	cursor: pointer;
	transition: .5s linear;

}


.entry {
	background: white;
	color: #666;
	margin: 0;
	padding: 0;
	height: auto;
	min-height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	display: flex;
	width: 100%;
}

.entry:nth-child(2n) {
	background-color: #f7f7f7;
}


.entry:hover .delete {
	min-width: 40px;
	opacity: 1;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

.selectedTheme {
	outline: 1px solid white;
}

#pink {
	background-color: #FF0099;
}

#original {
	background-color: #00C9FF;
}


#sunshine {
	background-color: #b92b27;
}

#orange {
	background-color: #FF8C00
}

#mint {
	background-color: #BDFFF3;
}

#purple {
	background-color:#9733EE
}


